<style>
    .question-widget {
        /* size and shape */
        position: relative;
        width: 300px;
        height: 420px;
        border-radius:  12px;
        /* centering */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* color */
        color: var(--color-dark);
        background: var(--color-card);
        box-shadow:  0 2px 8px var(--color-dark);
        /* font */
        font-size: 16px;
        font-family:  ui-monospace, Menlo, Consolas, monospace;
        /* variables */
        --width: 84px;
    }
    #question, #answer, #counter {
        width: var(--width);
        font-size: 16px;
        font-family:  ui-monospace, Menlo, Consolas, monospace;
        font-weight: bold;
    }
    #question, #counter {
        padding: 0 2px;
        text-align: center;
    }
    #answer {
        background-color: var(--color-light);
        margin-top: 2px;
        margin-bottom: 16px;
        text-align: right;
    }
    /* remove arrows from answer box */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    #progress-bar, #timer-bar, #progress-bar-fill, #timer-bar-fill {
        height: 4px;
        border-radius: 4px;
        width: var(--width);
    }
    #progress-bar, #timer-bar { position: relative; }
    #progress-bar { background: var(--color-bg); margin-bottom: 4px; }
    #timer-bar { background: var(--color-dark); }
    #progress-bar-fill, #timer-bar-fill {
        position: absolute;
        width: 0;
    }
    #progress-bar-fill {
        border: 1px solid var(--color-bg);
        background: var(--color-glow);
    }
    #timer-bar-fill {
        border: 1px solid var(--color-dark);
        background: red;
    }
</style>

<div class="question-widget">
    <!--question and answer-->
    <p id="question">Press Enter</p>
    <input id="answer" type="number" autocomplete="off" oninput="if(this.value.length>8)this.value=this.value.slice(0,8)">

    <!--progress bars-->
    <div id="counter">
        <span id="count">0</span>/<span id="total-questions">0</span>
    </div>
    <div id="progress-bar">
        <div id="progress-bar-fill"></div>
    </div>
    <div id="timer-bar">
        <div id="timer-bar-fill"></div>
    </div>
</div>
